@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Kolory */
  --color-brand-gold: #a9845c;

  /* Typografia */
  --font-sans: var(--font-lato-sans), sans-serif;
  --font-mono: monospace;
  --font-serif: var(--font-playfair), serif;
  --font-display: var(--font-playfair), serif;

  /* Rozmiary czcionki */
  --text-base: 1rem;          /* 16px */
  --text-lg: 1.25rem;         /* 20px */
  --text-xl: 1.563rem;        /* 25px */
  --text-2xl: 1.953rem;       /* 31px */
  --text-3xl: 2.441rem;       /* 39px */
  --text-4xl: 3.052rem;       /* 49px */

  /* Wysokości linii */
  --leading-base: 1.5rem;     /* 24px */
  --leading-relaxed: 2rem;    /* 32px */
  --leading-h3: 2.5rem;       /* 40px */
  --leading-h2: 3rem;         /* 48px */
  --leading-h1: 4rem;         /* 64px */
}

@layer components {
  .nav-link-hover {
    @apply text-gray-800 dark:text-white transition-colors duration-300 border-b-2 border-transparent pb-1;
    @apply hover:text-[#B8860B] hover:border-[#B8860B] dark:hover:text-[#BFA181] dark:hover:border-[#BFA181];
  }

  .link-subtle-hover {
    @apply text-gray-800 dark:text-gray-100 transition-colors duration-300;
    @apply hover:text-[#B8860B];
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
